<div class="product-container">
  <div class="model-title">
    <h1>Моноблоки</h1>
  </div><!-- /title -->
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 modal-text">
      <p>Для генерации холода существует несколько разновидностей холодильных установок. Холодильный моноблок — агрегат , используемая для охлаждения внутреннего пространства холодильной камеры и поддержания определенной температуры. Они классифицируются по температуре охлаждения камеры, мощности, холодопроизводительности, объемом и напряжением. Моноблоки изготовлены в одном корпусе, в котором соединены компрессор с конденсатором и воздухоохладитель. Поставляются в готовом к работе виде, то есть они испытаны и заправлены холодильным агентом.
      </p>
    </div>
  </div>
  <div class="row row-flex row-flex-wrap">
    <% @monoblocks.each do |monoblock| %>
      <div class=" col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3-custom">
        <div class="product-item">
          <div class="product-image">
            <%= image_tag(product_avatar(monoblock), size: "200x250") %>
          </div><!-- /product-image -->

          <div class="product-title">
            <h3><%=link_to monoblock.title, monoblock_path(monoblock.id) %></h3>
          </div><!-- /cproduct-title -->

          <div class="product-table">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th scope="row">Габаритные размеры, мм</th>
                  <td><%= monoblock.dimensions %></td>
                </tr>
                <tr>
                  <th scope="row">Темп. режим, °C</th>
                  <td><%= monoblock.temperature_condition %></td>
                </tr>
                <tr>
                  <th scope="row">Цена, руб. с НДС</th>
                  <td><%= monoblock.price %></td>
                </tr>
              </tbody>
            </table>
          </div><!-- /product-table -->

          <div class="link-to-detail">
            <%=link_to "Подробнее", monoblock_path(monoblock.id)%>
          </div><!-- /link-to-detail -->
        </div><!-- /product-item -->
      </div><!-- /col-md-3 -->
    <% end %>
  </div>
  <div class="pagination-conteiner">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <%= will_paginate @cells, :previous_label => 'Назад', :next_label => 'Далее' %>
      </div>
    </div>
  </div>
</div>