<div class="product-container">
  <div class="model-title">
    <h1>Моноблоки</h1>
  </div><!-- /title -->

  <% @monoblocks.each do |monoblock| %>
    <div class="col-md-3">
      <div class="product-item">
        <div class="product-image">
          <%= image_tag(monoblock.avatar.url, size: "200x250") if monoblock.avatar? %>
        </div><!-- /product-image -->

        <div class="product-title">
          <h3><%=link_to monoblock.title, cell_path(monoblock.id) %></h3>
        </div><!-- /cproduct-title -->

        <div class="product-table">
          <table class="table table-striped">
            <tbody>
              <tr>
                <th scope="row">Габаритные размеры, мм</th>
                <td><%= monoblock.dimensions %></td>
              </tr>
              <tr>
                <th scope="row">Температурный режим, °C</th>
                <td><%= monoblock.temperature_condition %></td>
              </tr>
              <tr>
                <th scope="row">Цена, руб. с НДС</th>
                <td><%= monoblock.price %></td>
              </tr>
            </tbody>
          </table>
        </div><!-- /product-table -->

        <div class="link-to-detail">
          <%=link_to "Подробнее", monoblock_path(monoblock.id)%>
        </div><!-- /link-to-detail -->
      </div><!-- /product-item -->
    </div><!-- /col-md-3 -->
  <% end %>
</div>