<div class="product-shhow">
  <div class="model-title">
    <h1><%= @monoblock.title %></h1>
  </div>
  <div class="row main-info">
    <div class="col-md-4 product-image">
      <%= image_tag(product_avatar(@monoblock), size: "260x380") %>
    </div><!-- /col-md-2 -->
    <div class="col-md-8">
      <div class="product-table-show">
        <h3>Характеристики:</h3>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th scope="row">Хладагент</th>
              <td><%= @monoblock.refrigerant %></td>
            </tr>
            <tr>
              <th scope="row">Температурный режим, °С</th>
              <td><%= @monoblock.temperature_condition %></td>
            </tr>
            <tr>
              <th scope="row">Напряжение в сети, в/ф/гц</th>
              <td><%= @monoblock.voltage %></td>
            </tr>
            <tr>
              <th scope="row">Maксимальное энергопотребление, кВт</th>
              <td><%= @monoblock.power_usage %></td>
            </tr>
            <tr>
              <th scope="row">Вес нетто, кг</th>
              <td><%= @monoblock.net_weight %></td>
            </tr>
            <tr>
              <th scope="row">Размеры в упаковке</th>
              <td><%= @monoblock.packed_sizes %></td>
            </tr>
            <tr class="price">
              <th scope="row">Цена, руб. с НДС</th>
              <td><%= @monoblock.price %></td>
            </tr>
          </tbody>
        </table>
      </div><!-- /product-table -->
    </div><!-- /col-md-10 -->
  </div><!-- /row -->
  <!-- additional-products -->
  <div class="additional-products">
    <div class="model-title">
      <h3>Агрегаты подходят к этой камере:</h3>
    </div><!-- model-title -->
    <% if @additional.count <= 4 %>
      <div class="row">
        <div class="col-md-11 no-carousel">
          <% @additional.each do |item| %>
            <div class="item">
              <div class="carousel-col">
                <div class="block">
                  <div class="product-image">
                    <%= image_tag(product_avatar(item), size: "140x200") %>
                  </div><!-- product-image -->
                  <div class="product-title product-title-center">
                    <h3><%=link_to item.title, cell_path(item.id) %></h3>
                  </div><!-- product-title product-title-center -->
                </div><!-- block -->
              </div><!-- carousel-col -->
            </div><!-- item -->
          <% end %>
        </div><!-- col-md-11 no-carouse -->
      </div><!-- row -->
    <% else %>
    <!-- carousel -->
      <div class="row">
        <div class="col-md-11 col-centered">
          <div id="carousel" class="carousel slide" data-ride="carousel" data-type="multi" data-interval="4000">
            <div class="carousel-inner col-centered">
              <% @additional.each_with_index do |item, index| %>
                <% if index == 0 %>
                  <div class="item active">
                <% else %>
                  <div class="item">
                <%end%>
                <div class="carousel-col">
                  <div class="block">
                    <div class="product-image">
                      <%= image_tag(product_avatar(item), size: "140x200") %>
                    </div>
                    <div class="product-title product-title-center">
                      <h3><%= link_to item.title, cell_path(item.id) %></h3>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
            <!-- Controls -->
            <div class="left carousel-control">
              <a href="#carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
            </div><!-- left carousel-control -->
            <div class="right carousel-control">
              <a href="#carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div><!-- right carousel-control -->
          </div><!-- carousel slide -->
        </div><!-- col-md-11 col-centered -->
      </div><!-- row -->

      <script type="text/javascript">
        $('.carousel[data-type="multi"] .item').each(function() {
          var next = $(this).next();
          if (!next.length) {
            next = $(this).siblings(':first');
          }
          next.children(':first-child').clone().appendTo($(this));
          for (var i = 0; i < 2; i++) {
            next = next.next();
            if (!next.length) {
              next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));
          }
        });
      </script>

    <%end%>
  </div><!-- additional-products -->
</div><!-- /product-shhow -->