<div class="product-container">
  <div class="model-title">
    <h1>Сплит-системы</h1>
  </div><!-- /title -->
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 modal-text">
      <p>Холодильные сплит-системы - это комплекс из двух блоков, применяющихся для поддержания заданного режима температур в холодильной камере. Монтируются там, где невозможно применение холодильного моноблока. Внутренний и наружный блоки соединены между собой медными трубками (в теплоизоляции) и кабелем питания управления. Холодильные сплит системы POLAIR предназначены для охлаждения внутреннего пространства холодильной камеры, объемом до 51 м3 при внешней температуре окружающего воздуха от +10°С до +40°С.Цена эксплуатации оборудования этого класса достаточно низкая, что обуславливает его популярность.
      </p>
    </div>
  </div>
  <div class="row row-flex row-flex-wrap">
    <% @splits.each do |split| %>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3-custom">
        <div class="product-item">
          <div class="product-image">
            <%= image_tag(product_avatar(split), size: "200x250") %>
          </div><!-- /product-image -->

          <div class="product-title">
            <h3><%=link_to split.title, split_path(split.id) %></h3>
          </div><!-- /cproduct-title -->
          <div class="product-table">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th scope="row">Темп. режим, °C</th>
                  <td><%= split.temperature_condition %></td>
                </tr>
                <tr>
                  <th scope="row">Габаритные размеры внешнего блока, мм</th>
                  <td><%= split.external_dimensions %></td>
                </tr>
                <tr>
                  <th scope="row">Габаритные размеры внутреннего блока, мм</th>
                  <td><%= split.inner_dimensions %></td>
                </tr>
                <tr>
                  <th scope="row">Цена, руб. с НДС</th>
                  <td><%= split.price %></td>
                </tr>
              </tbody>
            </table>
          </div><!-- /product-table -->

          <div class="link-to-detail">
            <%=link_to "Подробнее", split_path(split.id)%>
          </div><!-- /link-to-detail -->
        </div><!-- /product-item -->
      </div><!-- /col-md-3 -->
    <% end %>
  </div>
  <div class="pagination-conteiner">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <%= will_paginate @cells, :previous_label => 'Назад', :next_label => 'Далее' %>
      </div>
    </div>
  </div>
</div>