<div class="product-show">
  <div class="model-title">
    <h1><%= @split.title %></h1>
  </div>
  <div class="row main-info">
    <div class="col-md-4 product-image">
      <%= image_tag(product_avatar(@split), size: "260x380") %>
    </div><!-- /col-md-2 -->
    <div class="col-md-8">
      <div class="product-table-show">
        <h3>Характеристики:</h3>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th scope="row">Хладагент</th>
              <td><%= @split.refrigerant %></td>
            </tr>
            <tr>
              <th scope="row">Температурный режим, °С</th>
              <td><%= @split.temperature_condition %></td>
            </tr>
            <tr>
              <th scope="row">Напряжение в сети, в/ф/гц</th>
              <td><%= @split.voltage %></td>
            </tr>
            <tr>
              <th scope="row">Maксимальное энергопотребление, кВт</th>
              <td><%= @split.power_usage %></td>
            </tr>
            <tr>
              <th scope="row">Вес нетто, кг</th>
              <td><%= @split.net_weight %></td>
            </tr>
            <tr>
              <th scope="row">Габаритные размеры внешнего блока, мм</th>
              <td><%= @split.external_dimensions %></td>
            </tr>
            <tr>
              <th scope="row">Габаритные размеры внутреннего блока, мм</th>
              <td><%= @split.inner_dimensions %></td>
            </tr>
            <tr class="price">
              <th scope="row">Цена, руб. с НДС</th>
              <td><%= @split.price %></td>
            </tr>
          </tbody>
        </table>
        <div class="button-wrapper">
          <a class="btn popup-btn" href="#">Получить консультацию</a>
        </div>
      </div><!-- /product-table -->
    </div><!-- /col-md-10 -->
    <div class="popup-wrap">
      <div class="popup-box">
        <h2>Title of Popup</h2>
        <h3>Ты пидор.</h3>
        <a class="close-btn popup-close" href="#">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
      </div>
    </div>
  </div><!-- /row -->
  <div class="additional-products">
    <div class="model-title">
      <h3>Камеры подходят к этому агрегату:</h3>
    </div><!-- model-title -->
    <%= render partial: 'partial/additional', object: @additional %>
  </div>
</div><!-- /product-shhow -->