<div class="product-shhow">
  <div class="model-title">
    <h1><%= @cell.title %></h1>
  </div>
  <div class="row">
    <div class="col-md-2">
      <%= image_tag(product_avatar(@cell), size: "260x380") %>
    </div><!-- /col-md-2 -->
    <div class="col-md-10">
      <div class="product-table-show">
        <table class="table table-striped">
          <tbody>
            <tr>
              <th scope="row">Диапазон температуры окружающего воздуха</th>
              <td><%= @cell.temperature_range %></td>
            </tr>
            <tr>
              <th scope="row">Объём, м3</th>
              <td><%= @cell.space %></td>
            </tr>
            <tr>
              <th scope="row">Габаритные размеры, мм</th>
              <td><%= @cell.dimensions %></td>
            </tr>
            <tr>
              <th scope="row">Вес нетто, кг</th>
              <td><%= @cell.net_weight %></td>
            </tr>
            <tr>
              <th scope="row">Размеры в упаковке</th>
              <td><%= @cell.packed_sizes %></td>
            </tr>
            <tr class="price">
              <th scope="row">Цена, руб. с НДС</th>
              <td><%= @cell.price %></td>
            </tr>
          </tbody>
        </table>
      </div><!-- /product-table -->
    </div><!-- /col-md-10 -->
  </div><!-- /row -->
</div><!-- /product-shhow -->
