<p id="notice"><%= notice %></p>

<p>
  <strong>Temperature range:</strong>
  <%= @cell.temperature_range %>
</p>
<p>
  <strong>title:</strong>
  <%= @cell.title %>
</p>

<p>
  <strong>Space:</strong>
  <%= @cell.space %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @cell.dimensions %>
</p>

<p>
  <strong>Net weight:</strong>
  <%= @cell.net_weight %>
</p>

<p>
  <strong>Packed sizes:</strong>
  <%= @cell.packed_sizes %>
</p>

<p>
  <strong>Product:</strong>
  <%= @cell.id %>
</p>

<%= link_to 'Back', cells_path %>
