<div class="product-show">
  <div class="model-title">
    <h1><%= @cell.title %></h1>
  </div>
  <div class="row main-info">
    <div class="col-12 col-sm-12 col-md-5 col-lg-4 col-xl-4 product-image">
      <%= image_tag(product_avatar(@cell), size: "260x380") %>
    </div><!-- col-md-2 -->
    <div class="col-12 col-sm-12 col-md-7 col-lg-8 col-xl-8">
      <div class="product-table-show">
        <h3>Характеристики:</h3>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th scope="row">Диапазон температуры окружающего воздуха</th>
              <td><%= @cell.temperature_range %></td>
            </tr>
            <tr>
              <th scope="row">Объём, м3</th>
              <td><%= @cell.space %></td>
            </tr>
            <tr>
              <th scope="row">Габаритные размеры, мм</th>
              <td><%= @cell.dimensions %></td>
            </tr>
            <tr>
              <th scope="row">Вес нетто, кг</th>
              <td><%= @cell.net_weight %></td>
            </tr>
            <tr>
              <th scope="row">Размеры в упаковке</th>
              <td><%= @cell.packed_sizes %></td>
            </tr>
            <tr class="price">
              <th scope="row">Цена, руб. с НДС</th>
              <td><%= @cell.price %></td>
            </tr>
          </tbody>
        </table>
        <div class="button-wrapper">
          <a class="btn popup-btn" href="#">Получить консультацию</a>
        </div>
      </div><!-- product-table -->
    </div><!-- col-md-10 -->
    <div class="popup-wrap">
      <div class="popup-box">
        <h2>Денис: 8-(967)-268-81-81</h2>
        <h2>Сергей: 8-(915)-487-68-63</h2>
        <a class="close-btn popup-close" href="#">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
      </div>
    </div>
  </div><!-- row -->

  <!-- <div class="additional-products">
    <div class="model-title">
      <h3>Агрегаты подходят к этой камере:</h3>
    </div>
    <%# render partial: 'partial/additional', object: @additional %>
  </div> -->

</div><!-- product-show -->
