<div class="container-fluid text-center text-md-left footer-main">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <h4 class="text-uppercase">DopHolod.ru</h4>
      <p class="footer-text">Холодильные камеры и другое оборудование для вашего бизнеса. <br>Подбор, доставка и обслуживание по Москве и области.</p>
    </div>
    <div class="custom-col-6 col-sm-6 col-md-3 col-lg-3">
      <h5 class="text-uppercase">Каталог</h5>
      <ul class="footer-list">
        <li>
          <%= link_to "Холодильные камеры", cells_path %>
        </li>
        <li>
          <%= link_to "Моноблоки", monoblocks_path %>
        </li>
        <li>
          <%= link_to "Сплит-Системы", splits_path %>
        </li>
      </ul>
    </div>
    <div class="custom-col-6 col-sm-6 col-md-3 col-lg-3">
      <h5 class="text-uppercase">О компании</h5>
      <ul class="footer-list">
        <li>
          <%= link_to "Главная", root_path %>
        </li>
        <li>
          <%=link_to "Услуги", services_path %>
        </li>
        <li>
          <%=link_to "Наши работы", our_work_path %>
        </li>
        <li>
          <%=link_to "О нас", about_path%>
        </li>
        <li>
          <%=link_to "Контакты", contact_path %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <div class="footer-down text-center py-3">© 2019 production:
        <a href=""> dopholod.ru</a>
      </div>
    </div>
  </div>
</div>
