<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dopholod</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'  %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- left menu -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">
    <!-- model title -->
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
  </head>
  <body>

    <div class="container-fluid">
      <div class="row">
        <%= render 'layouts/navbar' %>

        <div class="main">
          <%= yield %>
        </div><!-- /main -->

        <!-- Footer -->
        <div class="page-footer font-small">
          <%= render 'layouts/footer' %>
        </div>

      </div><!-- /row -->
    </div> <!-- /container -->

  </body>
</html>
